#include <windows.h>
#include <ntverp.h>

#define VER_FILETYPE                VFT_DRV
#define VER_FILESUBTYPE             VFT2_DRV_SYSTEM
#define VER_FILEDESCRIPTION_STR     "OpenFlashFire"
#define VER_INTERNALNAME_STR        "offire.sys"
#define VER_ORIGINALFILENAME_STR    "offire.sys"

#include "common.ver"

LANGUAGE LANG_ENGLISH, SUBLANG_NEUTRAL

